body {
    font-family: sans-serif;
}
header
{  background-color: rgb(216, 175, 200);
    color: rgb(155, 126, 221);
    border-radius:30px;
    margin:20px;
    height: 50px;

}
h1{
    color: rgb(218, 142, 211);
}
footer
{
background-color:fuchsia
heiging: 100px
nay a{
    
